.tagged-posts {
  margin-top: 5rem;
  display: flex;
  min-height: 1000px;
}
.active {
  background: #f69d65;
}
.content {
  width: 100%;
}
.title-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
}
.tag-header {
  width: 50%;
}
.search-input {
  width: 30%;
  margin-right: 2rem;
  /* -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4); */
  border: 1px solid lightgray;
}
.hidden {
  display: none;
}
.cross {
  margin: 0px;
  margin-left: 1rem;
}
.filter-remover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.cross-search {
  margin: 0px;
  margin-left: 0.5rem;
  margin-right: 2rem;
}
.cross-search-wrapper {
  cursor: pointer;
}
@media (max-width: 769px) {
  .title-items {
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
  }
  .tag-header {
    width: 100%;
  }
  .search-input {
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
    margin-right: 0px;
  }
  .filter-remover {
    max-width: 50%;
    align-self: flex-end;
  }
  .cross-search {
    padding-right: none;
  }
  .categories-picker {
    width: 100%;
    margin-top: 1rem;
  }
}
