.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border: 5px grey;
  z-index: 3;
  background-color: white;
}
.logo-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 40%;
  /* top: 2%; */
  /* left: 50%;
  margin-left: -150px;
  transition: 0.1s ease; */
}

.logo-wrapper.small {
  /* transform: translate(0px, -80%); */
}
.logo {
  margin-bottom: 0;
}
.logo > a {
  font-family: "Work Sans 600", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.menu-button {
  display: none;
}

.header_navigation {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 8rem;
}
.spacer {
  flex: 1;
}
.nav-link-wrapper {
  display: flex;
}
.nav-link-wrapper > a {
  margin-right: 20px;
  margin-left: 20px;
}
.nav-link {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  padding: 2px;
  padding-bottom: 15px;
  font-family: "Trirong 100", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* margin-top: 10px; */
}
.h1 {
  font-size: 100%;
}
@media (max-width: 768px) {
  .nav-link {
    font-size: 1.8rem !important;
    margin-top: 0px;
  }
  .logo-wrapper {
    align-self: center;
    max-width: 95%;
    font-size: 10px;
    margin-left: 0px;
    position: static;
    height: 40%;
    top: 2%;
    left: none;
  }
  .border {
    align-self: center;
  }
  .logo-wrapper.small {
    transform: none;
  }
  .nav-link-wrapper {
    display: none;
    margin-right: 0px;
  }
  .border {
    margin-bottom: 0px;
  }
  .menu-button {
    display: flex;
    align-self: center;
  }
}
