.search-wrapper {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto !important;
  margin-top: 2rem;
  display: flex;
  align-content: center;
  overflow: hidden;
}
.main-search {
  margin: auto;
  width: 50%;
  margin-top: 2rem;
  border: 0;
  border-bottom: 2px solid gray;
  padding: 1rem;
  position: relative;
}
.search-list {
  position: absolute;
  z-index: 1;
  top: 5rem;
  right: 42%;
  width: 15rem;
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
}
.item-search {
  padding: 0.5rem;
}
.item-search > a {
  text-decoration: none;
  font-family: "Hind Madurai", Helvetica, sans-serif;
  color: black;
}
