.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    height: 24px;
    width: 30px;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-right: 15%

}
.toggle-button:focus {
    outline: none;
}
.toggle-button_line {
    width: 100%;
    height: 3px;
    background-color: black;

}