.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 0;
}
.socials {
  flex-grow: 2;
  align-content: center;
  display: flex;
  align-items: center;
}
.socials > a {
  padding-left: 10px;
  padding-right: 10px;
}
.built-by {
  color: grey;
  justify-self: flex-end;
}
.built-by > a {
  color: lightgray;
}
